# User Testing Report

User testing was conducted by Jessica Hay on October 24, 2013 between the times of 3:00pm and {end time} with the following participants:

- Alejandro Andred
- Caroline Guindon
- Nick Appalon

## Tasks

1. Find Herbal Tea Recipe page
2. Find the History of Herbal Teas
3. Find Instructions/ recipe for a herbal tea

---

## Individual Results & Observations

### Alejandro Andred

- All links were clicked as expected
- For recipe section, he believed the image should also be click-able
- Even without the drop down menu for navigation he was able to easily navigate through the site
- suggested for the home page the text to be moved to the bottom in order to appreciate the image more
- liked the simplicity of the site and the elements on each page as well as its cleanliness

### Caroline Guindon

- History Page & Recipe Page were found with ease
- Had trouble navigating to the ingredients/recipe page
- On the recipe page she wanted to click the image and the title before finding the ...more link
- would like to see the drop shadow removed from text on home page. Maybe add shadow box instead, find the type difficult to read

### {Jordan Doe}

- Links were clicked and found as expected
- Had trouble finding the recipe/ingredients page
- Asked what kind of images will be included in my site
- Visually enjoyed the site and images included on the pages.
- Liked the concept of the drawings as images

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No critical issues. All pages and links were found successfully.

### Serious, Causes Frustration, May Hinder Completion

- Nothing was serious that hindered completion, or that caused significant frustration

### Minor, Annoying, Won’t Hinder Completion

All participants had difficulty finding the recipe page. turning the "...more" link to be click-able with the header as well as the image would solve this problem
