.single-line {
	margin: 10px 0;
	width: 100%;
	height: 9px;
	background-image: url(../img/single-line.png);
}

.divider-trim-top{
	width: 100%;
	height: 16px;
	display: block;
	background-image: url(../img/dillons-trim-top.png);
}

.divider-trim-bottom{
	width: 100%;
	height: 16px;
	display: block;
	background-image: url(../img/dillons-trim-bottom.png);
}

.v-divider{
	background-image: url(..img/v-divider.png);
	margin: 0 0.5em;
	height: 100%;
	padding: 0;
}



@media only screen and (min-width: 38em) and (max-width: 60em) {

	.dotted-divider{
	background-image: url(../img/dotted-divider.png);
	margin-bottom: 1.5em;
	padding: 0;
	height: 10px;

	}

	.v-divider{
	height: 265px;
	width: 6px;
	margin-top: -12px;
	padding-top: 0;
}
}

@media only screen and (min-width: 60em) {

  .grid-lines {
    background-image: url("../img/v-divider.png"), url("../img/v-divider.png");
    background-repeat: no-repeat;
    background-position: 33.2% top, 66.5% top;
  }

  .v-divider{
	height: 325px;
	width: 6px;
	margin-top: -12px;
	padding-top: 0;
}

}
