/*@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

a{
	-o-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear;
	color:#64af0a;
	font-size: 13pt;
	text-decoration: none;
	font-weight: bold;
}

a:hover,
a:focus{
	text-decoration: underline;
	color: #79db03;
}

a:active{
	color:#508c08;
}

a:visited{
	color: #56646F;
}


body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Georgia, serif;
	color: #56646F;
	margin: 0 auto;
}

header{
	margin-left: auto;
	margin-right: auto;
	max-width: 260px;
}

.logo-text{
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 11pt;
  color: #fff;
  letter-spacing: 0.125em;
  text-shadow: 2px 2px 3px #454445;

}

.leading-content{
	background-image: url(../img/home-page.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: 1px solid black;
}

.history-img{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.background > img{
	position: absolute;
}

.list-group-item{
	display: block;
}

h3{
	text-transform: uppercase;
}

p{
	color: #56646F;;
}

nav{
	list-style-type: none;
}

ul{
	padding: 0;
	text-align: center;
	list-style-type: none;
}

nav li{
	display: inline;
	margin: 0 17px;
	font-size: 1.3em;
	font-family: georgia, serif;
	text-transform: uppercase;
}

.flex-img{
	width:100%;
}

.back{
	float: right;
	margin-right: 2em;
}

.footer{

}

.copyright{
	text-align:center;
}

@media only screen and (min-width: 38em) and (max-width: 60em) {

h3{
	margin-top: 0;
}
}

@media only screen and (min-width: 60em) {

	body{
		width: 1080px;
	}
	.back{
		visibility:hidden;
		display: none;
	}
	.copy{
		width: 1080px;
		padding: 0;
	}
}
