.recipes{
	margin-left: 0.5em;
	margin-right: 0.5em;

}

.recipe-name{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.recipe-body{
	list-style-type:none;
	margin-top: 0;
}

.recipe-summary{
	min-height: 4em;
}

.img-resize{
	max-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.recipe-center{
	text-align: center;
	margin-bottom: 0;
}

@media only screen and (min-width: 38em) and (max-width: 60em) {

.recipe-summary{
	margin: 0;
}


}

