<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{% if page.title %}{{page.title}} · {%endif%}Creativi-TEA{% if page.title == null %}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--Facebook-->
  <meta property="og:type" content="Herbal Teas for the Creative Mind">
  <meta property="og:title" content="Creativi-Tea">
  <meta property="og:url" content="http://hay00032.github.io/large-data-website.html">
  <meta property="og:image" content="http://creativi-tea/img/logo.png" alt="logo">
  <meta property="og:description" content="Herbal Tea Resources for the Creative Mind">
  <meta property="og:site_name" content="Creativi-TEA">
  <!--Twitter-->
  <meta property="twitter:card" content="Herbal Teas for the Creative Mind">
  <meta property="twitter:title" content="Creativi-TEA">
  <meta property="twitter:url" content="http://hay00032.github.io/large-data-website.html">
  <meta property="twitter:image" content="http://creativi-tea/img/logo.png" alt="logo">
  <meta property="twitter:description" content="Herbal Tea Resources for the Creative Mind">

  <link href="{{site.baseurl}}/css/herbal-tea.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
</head>
<body role="#top">
<ul class="skiplinks">
  <li><a href="#main">Skip to primary content</a></li>
  <li><a href="#complementary">Skip to secondary content</a></li>
  <li><a href="#navigation">Skip to navigation</a></li>
</ul>
<header role="banner">
    <a href="{{site.baseurl}}/index.html">
      <img src="{{site.baseurl}}/img/logo.png" class="flex-img" rel="Home" alt="logo"></a>
  </div>
</header>
  <div class="unit-s-hidden single-line"></div>
      <nav role="navigation" id="navigation">
        <div class="unit unit-s-hidden unit-m-1 unit-l-1">
          <ul>
            <li><a href="{{site.baseurl}}/about.html" rel="" class="nav-link nav-primary-link">About</a></li>
            <li><a href="{{site.baseurl}}/health.html" class="nav-link nav-primary-link">Health</a></li>
            <li><a href="{{site.baseurl}}/recipes.html" class="nav-link nav-primary-link">Recipes</a></li>
          </ul>
      </div>
      <div class="nav-group unit-m-hidden unit-l-hidden">
          <a href="#nav" class="nav-btn"><i class="nav__icon nav__icon--open"></i><i class="nav__icon nav__icon--close"></i></a>
              <nav data-state="collapsed" class="nav nav--top">
                <ul>
                  <li class=:"nav__current"><a href="{{site.baseurl}}/about.html"><mark>About</mark></a></li>
                  <li><a href="{{site.baseurl}}/health.html" class="nav-link nav-primary-link">Health</a></li>
                  <li><a href="{{site.baseurl}}/recipes.html" class="nav-link nav-primary-link">Recipes</a></li>
                </ul>
              </nav>
      </div>
    </nav>
  <div class="divider-trim-top"></div>

  {{content}}

  <footer role="contentinfo" class="footer">
  <div class="single-line"></div>
    <p class="copyright">© 2013 creativi-TEA</p>
    <a href="#top">Top</a>
  </footer>

  <script src="{{site.baseurl}}/js/$.min.js"></script>
  <script src="{{site.baseurl}}/js/nav.js"></script>
  <script src="{{site.baseurl}}/js/image.js"></script>
</body>
</html>
