<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{% if page.title %}{{page.title}} · {%endif%}Creativi-TEA{% if page.title == null %}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
</head>
<body>
<header>
   <a href="http://placehold.it/140x140" class="logo"></a>
</header>
  <div class="unit-s-hidden single-line"></div>
        <nav class="nav">
          <ul class="unit unit-s-hidden unit-m-1 unit-l-1">
            <li><a href="about.html" class="nav-link nav-primary-link">About</a></li>
            <li><a href="health.html" class="nav-link nav-primary-link">Health</a></li>
            <li><a href="making-drinking.html" class="nav-link nav-primary-link">Making & Drinking</a></li>
          </ul>
          <ul>
            <li class="unit-m-hidden unit-l-hidden list-group-item list-group-item-inline">
              <a href="#" class="icon-link">
                  <i class="icon i-32 i-mobile-nav"></i>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  <div class="divider-trim-bottom"></div>

  {{content}}

  <footer class="footer">
  <div class="single-line"></div>
    <p class="copyright">© 2013 creativi-TEA</p>
    <nav>
        <img src="http://placehold.it/40x40" class="back" alt="back to top">
    </nav>
  </footer>

</body>
</html>
